#body{
    margin: 2vh;
    display: flex;
  }
  mat-card{
    margin: 0px 5vw;
    width: 100%;
  }
.material{
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
}
.visualizar{
    margin-right: 35vw;
    color: rgb(0, 168, 50);
    cursor: pointer;
}