<div id="body">
    <app-menu [menu]="menu" [nomeUser]="nomeUser"></app-menu>
    
      <mat-card>
        <app-header [icon]="iconHeader" [nome]="nomeHeader"></app-header>
        <mat-accordion>
           
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false"
                                   *ngFor="let disciplina of this.disciplinas; let i = index" (click)="getMaterial(disciplina.id)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{disciplina.nome}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="material" *ngFor="let materiais of this.material; let i = index" >
                    <div>{{materiais.titulo}}</div> <div class="visualizar" (click)="redirecionar(materiais.url)" >Visualizar</div>
                </div>
                
              </mat-expansion-panel>
            </mat-accordion>
            
      </mat-card>
      
    </div>