#body{
    margin: 2vh;
    display: flex;
  }
  mat-card{
    margin: 0px 5vw;
    width: 100%;
  }
  table {
    width: 100%;
  }
  td> mat-icon {
    cursor: pointer;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th, th.mat-header-cell {
    width: 33%;
    text-align: center;
  }
  #delete{
    margin-left: 1vw;
    color: #00b377;
  }
  .no-data{
    
    align-items: center;
    margin: 0 auto;
  }
  .no-data> img{
    width: 24vw;
  }
  .mat-elevation-z8{
    box-shadow: none;
  }