#body{
    margin: 2vh;
    display: flex;
}
mat-card{
    margin: 0px 5vw;
    width: 100%;
}

.simulado{
    display: flex;
    padding: 1vw;
}
.div-add-resultado{
    margin-left: 9.5vw;
    align-items: center;
    text-align: center;
    color: #00a055;
    .mat-icon{
        margin-right: 1vw;
        width: 1.2vw;
        height: 1.2vw;
        font-size: 1.2vw;
    }
    span{
        font-size: 1.2vw;
    }
}