
<div id="body">
    <app-menu [menu]="menu" [nomeUser]="nomeUser"></app-menu>
    
      <mat-card>
        <app-header [icon]="iconHeader" [nome]="nomeHeader"></app-header>
        <mat-accordion>
           
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" *ngFor="let curso of cursos" (click)="getSimuladoByCurso(curso.id)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{curso.nome}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Clique para visualizar todos os simulados cadastrados
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="simulado" *ngFor="let simulado of simulados">
                  <p>{{simulado.nome}}</p>
                  <div class="div-add-resultado" (click)="openAddResultados(simulado.nome,simulado.id)"><mat-icon>add</mat-icon><span>Adicionar resultados</span></div></div>
                
              </mat-expansion-panel>
            </mat-accordion>
            
      </mat-card>
      
    </div>
  