#body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
::ng-deep circle{
    stroke-width: 2% !important;
}
::ng-deep svg, mat-spinner{
    width: 15vw !important;
    height: 15vw !important;
    
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke:#9f55ad !important;
}
