@import "../../../../../app.component.scss";
#body{
    height: 50vh;
    width: 45vw;
}
.close{
    background-color: #192038;
}
.icon, h3{
    color: #192038;
}
#aviso{
    margin-top: 5vh;
}

#conteudo{
    margin-bottom: 5vh;
}