
#body{
    margin: 2vh;
    display: flex;
}
mat-card{
    margin: 0px 5vw;
    width: 100%;
}
table {
    width: 100%;
}
td> mat-icon {
    cursor: pointer;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th, th.mat-header-cell {
    width: 33%;
    text-align: center;
}
#delete{
    margin-left: 1vw;
    color: #C70000;
}
.no-data{
    
    align-items: center;
    margin: 0 auto;
}
.no-data> img{
    width: 24vw;
}
.mat-elevation-z8{
    box-shadow: none;
}
#adicao{
    width: 5vw;
    height: 5vw;
    background-color: #192038;
    color: #ffffff;
    position: absolute;
    bottom: 12vh;
    right: 7vw;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    p{
        display: none;
    }
}
#adicao > mat-icon{
    margin: 0 auto;
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;    
}
#adicao:hover{ 
    width: 10vw;
    border-radius: 52px;
    mat-icon{
        margin: 0 5%;
    }
    p{
        display: block;
        color: #ffffff;
        margin: 0;
        font-size: 1.8em;
    }
}

// ::ng-deep .opcao:first-child{
//     color: #7B7EFF !important;
// }