
<div id="body">
  <app-menu></app-menu>

  <mat-card>
    <app-header></app-header>
    <div id="table">
      <mat-form-field >
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. José" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
          </ng-container>

          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
            <td mat-cell *matCellDef="let row"> <mat-icon (click)="openEdit(row.id, row.fullName, row.dataNascimento, row.telefone, row.rg, row.emailAddress, row.curso.id, row.curso.nome, row.turma, row.role, row.disciplinas)" matTooltip="Editar">edit</mat-icon><mat-icon id="delete" (click)="openDelet(row.id, row.fullName)"  matTooltip="Deletar">delete</mat-icon> </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de usuário </th>
            <td mat-cell *matCellDef="let row"> {{row.role}} </td>
          </ng-container>         

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data" colspan="4"><img src="../../../assets/no-data.png" alt=""></td>
          </tr>
        </table>

        <!-- <mat-paginator [pageSizeOptions]="[7,10, 25, 100]"></mat-paginator> -->
      </div>
    </div>
  </mat-card>
  
  <div id="adicao" (click)="openAdd()"  matTooltip="Cadastrar"><mat-icon>person_add</mat-icon></div>
</div>