<div id="498">
  <div style="max-width: 650px;" class="container text-center pt-5 pb-5">
    <h1>Ops... Desculpe mas este link expirou, ou<br class="d-none d-sm-inline" /><span class="d-inline d-sm-none">&nbsp;</span>já foi usado.</h1>
    <hr/>
    <div>
      <p>Precisa de ajuda com a sua conta?<br class="d-none d-sm-inline" /><span class="d-inline d-sm-none">&nbsp;</span>Por gentileza <a href="#">contate o suporte</a> ou solicite a <a href="#">recuperação de senha.</a></p>
      <a class="btn btn-lg btn-outline-dark" href="#">Recuperação de senha</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
