@import "../app.component.scss";
#fundo{
    height: 100%;
    width: 70%;
    text-align: center;
    display: block;
    justify-content: center;
    
}
#fundo > img{
    height: 80vh;
    margin-top: 5%;
}
#corpo{
    display: flex;
    //justify-content: center;
    
}
#formulario{
    width: 25%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
}

#formulario > img{
    width: 15vw;
    //margin-bottom: 15%;
}
.button{
    margin-top: 5vh !important;
    background-color: #9f55ad;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
}

mat-form-field.mat-form-field {
    font-size: 16px;
}

span{
    margin-top: 2vh;
    font-size: 1.5em;
    color: #000000a8;
    cursor: pointer;

}
.button:hover{
    background-color: #842397;
    transition: 1s;
    transform: translateY(-5px);
}

.redefinir-senha{
    border:none;
    background-color: white;
    text-decoration: none;
    width: 8vw;
    cursor: pointer;
}

@media screen and  (min-width: 350px) and (max-width: 1000px){

    #corpo{
        display: block;
        align-items: center;
        justify-content: center;
    }

    #fundo > img{
        display: none;
    }

    #formulario > img {
        width: auto;
    }

    #formulario{
        width: 50vw;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    .button{
        width: 50vw;
        height: 8vh;
    }

    form{
        align-items: center;
        justify-content: center;
    }

    span{
        font-size: 19.8px;
    }

    .mat-form-field{
        width: 80vw;
      }
}

@media screen and  (min-width: 1000px) and (max-width: 1500px){

    #corpo{
        display: block;
        align-items: center;
        justify-content: center;
    }

    #fundo > img{
        display: none;
    }

    #formulario > img {
        width: 20vw;
    }

    #formulario{
        width: 50vw;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    .button{
        width: 30vw;
    }
}

h1{
    color: #656565;
}


