<div id="body">
    <app-menu [menu]="menu" [nomeUser]="nomeUser"></app-menu>
    
      <mat-card>
        <app-header [icon]="iconHeader" [nome]="nomeHeader"></app-header>
        <mat-accordion>
           
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false"
                                   *ngFor="let disciplina of this.disciplinas; let i = index" (click)="getAvisos(disciplina.id)"
                                   >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{disciplina.nome}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="avisos" *ngFor="let aviso of this.avisos; let i = index">
                    <p>
                        <b>{{aviso.titulo}}</b> <span>{{aviso.assunto}}</span>
                    </p>
                    
                </div>
                
              </mat-expansion-panel>
            </mat-accordion>
            
      </mat-card>
      
    </div>