<div id="body">
  <app-menu [menu]="menu" [nomeUser]="nomeUser"></app-menu>

  <mat-card>
    <app-header [icon]="iconHeader" [nome]="nomeHeader"></app-header>
    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor= "let simulado of resultados">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{simulado.simulado.nome}}
          </mat-panel-title>
          <mat-panel-description>
            Clique para visualizar sua nota no simulado
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="simulado">
          <div class="resultado-nota">
            <p class="nota">{{simulado.linguagem}}</p>
            <p class="data">Linguagem</p>
          </div>
          <div class="resultado-prova">
            <p class="nota">{{simulado.humanas}}</p>
            <p class="data">Humanas</p>
          </div>
          <div class="resultado-prova">
            <p class="nota">{{simulado.natureza}}</p>
            <p class="data">Natureza</p>
          </div>
          <div class="resultado-prova">
            <p class="nota">{{simulado.matematica}}</p>
            <p class="data">Matematica</p>
          </div>
          <div class="resultado-redacao">
            <p class="nota">{{simulado.redacao}}</p>
            <p class="data">Redação</p>
          </div>
        </div>
        <div class="resultado-final">
          <p class="total">Total: {{simulado.notaTotal}}</p>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-card>

</div>