<div id="body">
    <div class="header">
        <div>
            <mat-icon class="icon">edit</mat-icon>
            <h3>Editar usuário</h3>
        </div>
        <div class="close" (click)="close()">
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <mat-vertical-stepper linear #stepper *ngIf="exibirForm()">
        <form [formGroup]="form">
            <mat-step>
                <ng-template matStepLabel>Dados pessoais</ng-template>
                <div class="flex">
                    <mat-form-field appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Data de nascimento</mat-label>
                        <input matInput formControlName="data" [matDatepicker]="picker" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input [textMask]="{mask: tel}" matInput formControlName="telefone" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>RG</mat-label>
                        <input [textMask]="{mask: rg}" matInput formControlName="rg" required>
                    </mat-form-field>
                </div>
                <div style="width: 96%">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email" required>
                    </mat-form-field>
                </div>
            </mat-step>
            <mat-step> 
                <ng-template matStepLabel>Confirmar dados</ng-template>
                <div *ngIf = "verificarPreenchimento()">
                   <div class="dados"><p> Nome: {{this.form.get("nome")?.value}}</p><p>Data de nascimento: {{this.form.get("data")?.value | date:'dd/MM/yyyy'}}</p></div>
                   <div class="dados"><p> Telefone: {{this.form.get("telefone")?.value}}</p><p>RG: {{this.form.get("rg")?.value}}</p></div>
                   <div class="dados"><p> E-mail: {{this.form.get("email")?.value}}</p><p> Usuário: {{this.user.role}}</p></div>
                   <div class="dadosUser" *ngIf = "verificarCampos()"><p> Disciplinas: {{this.disciplinas}}</p></div>
                   <div class="dadosUser" *ngIf = "!verificarCampos()"><p> Curso: {{this.user.curso.nome}}</p></div>
                </div>
                <span *ngIf = "!verificarPreenchimento()">*Preencha todos os dados</span>
                
                <div class="div-btn">
                    <button mat-flat-button class="cancelar-btn" (click)="close()">Cancelar</button>
                    <button type="submit" mat-flat-button class="confirmar-btn" (click)="editarUser()" [disabled]="!verificarPreenchimento()">Confirmar</button>
                </div>
            </mat-step>
            
        </form>
    </mat-vertical-stepper>
    
</div>