*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    cursor: pointer;
}