
<div id="corpo">
  <div id="formulario">
    <img src="../../assets/logoTeorema.png" alt="">
    <form>

      <mat-form-field appearance="outline">
        <mat-label>Digite a nova senha</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Digite novamente a nova senha</mat-label>
        <input matInput formControlName="senha" required>
      </mat-form-field>

      <div class="button">Redefinir Senha</div>

    </form>

  </div>
</div>